.header{
    z-index: 0;  
}
.ToggleButton{
    float:left;
    background-color:green; 
    border:1px solid darkblue;
     height:100%;
}
.cartButton{    
    background-color:green; 
    border:1px solid darkblue;
    height:100%;
}
.dropdown_div{
    border : 1px solid;
    height : 100%;
    z-index: 1;
    position: absolute; 
    top: 0px; 
    left: 0px;
    width:100%;
}

